<div class="container mt-4">
    <div class="col-md-6">
        <div class="card shadow">
            <img src="https://cdn.pixabay.com/photo/2019/06/02/17/33/woman-4246954_1280.jpg" class="card-img-top"
                alt="...">
            <div class="card-body">
                <h5 class="card-title">กัฟเฟลลัตเต</h5>
                <p class="card-text">กัฟเฟลลัตเต (อิตาลี: caffellatte, caffelatte) หรือนิยมเรียกย่อว่า ลัตเต
                    หรือ ลาตเท คือเครื่องดื่มกาแฟที่เตรียมด้วยนมร้อน โดยเทเอสเปรสโซ 1/3 ส่วน
                    และนมร้อนที่ตีด้วยไอน้ำจากเครื่องชง 2/3 ส่วน ลงในถ้วยพร้อม ๆ กัน</p>
                <a href="https://www.youtube.com/watch?v=kpWFdjltE5U" target="_blank"
                    class="btn btn-primary">กัฟเฟลลัตเต</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">

    </div>
</div>