<!doctype html>
<html lang="en">

<head>
    <%- include('./layouts/head') %>
    <title>Deploy Full Stact Dockerize</title>
</head>

<body>
    
    <%- include('./layouts/nav') %>

    <%- include('./layouts/cardHome') %>

    <%- include('./layouts/script') %>
</html>